.chat-header {
  display: flex;
  background-color: #007bff;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radious: 200px;
}

.bi {
  color: white;
}

.left {
  height: 32px;
}
